.container {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.image {
    object-fit: cover;
    width: 300px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.067);
}

.header {
    font-size: 40px;
    color: rgb(8, 36, 5);
    padding-bottom: 50px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    height: fit-content;
    margin: auto;
    font-weight: bold;
}